CarRental/CarControllerService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CarControllerService" targetNamespace="http://web/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://web/" elementFormDefault="unqualified" targetNamespace="http://web/" version="1.0">

  <xs:element name="getCarSearchParameters" type="tns:getCarSearchParameters"></xs:element>

  <xs:element name="getCarSearchParametersResponse" type="tns:getCarSearchParametersResponse"></xs:element>

  <xs:element name="getCurrent" type="tns:getCurrent"></xs:element>

  <xs:element name="getCurrentResponse" type="tns:getCurrentResponse"></xs:element>

  <xs:element name="getItems" type="tns:getItems"></xs:element>

  <xs:element name="getItemsResponse" type="tns:getItemsResponse"></xs:element>

  <xs:element name="isEditing" type="tns:isEditing"></xs:element>

  <xs:element name="isEditingResponse" type="tns:isEditingResponse"></xs:element>

  <xs:element name="prepareEdit" type="tns:prepareEdit"></xs:element>

  <xs:element name="prepareEditResponse" type="tns:prepareEditResponse"></xs:element>

  <xs:element name="prepareList" type="tns:prepareList"></xs:element>

  <xs:element name="prepareListResponse" type="tns:prepareListResponse"></xs:element>

  <xs:element name="prepareNew" type="tns:prepareNew"></xs:element>

  <xs:element name="prepareNewResponse" type="tns:prepareNewResponse"></xs:element>

  <xs:element name="refreshCarList" type="tns:refreshCarList"></xs:element>

  <xs:element name="refreshCarListResponse" type="tns:refreshCarListResponse"></xs:element>

  <xs:element name="remove" type="tns:remove"></xs:element>

  <xs:element name="removeResponse" type="tns:removeResponse"></xs:element>

  <xs:element name="save" type="tns:save"></xs:element>

  <xs:element name="saveResponse" type="tns:saveResponse"></xs:element>

  <xs:element name="searchCars" type="tns:searchCars"></xs:element>

  <xs:element name="searchCarsResponse" type="tns:searchCarsResponse"></xs:element>

  <xs:element name="searchCarsWebMethod" type="tns:searchCarsWebMethod"></xs:element>

  <xs:element name="searchCarsWebMethodResponse" type="tns:searchCarsWebMethodResponse"></xs:element>

  <xs:element name="setCarSearchParameters" type="tns:setCarSearchParameters"></xs:element>

  <xs:element name="setCarSearchParametersResponse" type="tns:setCarSearchParametersResponse"></xs:element>

  <xs:element name="setCurrent" type="tns:setCurrent"></xs:element>

  <xs:element name="setCurrentResponse" type="tns:setCurrentResponse"></xs:element>

  <xs:element name="setEditing" type="tns:setEditing"></xs:element>

  <xs:element name="setEditingResponse" type="tns:setEditingResponse"></xs:element>

  <xs:element name="setItems" type="tns:setItems"></xs:element>

  <xs:element name="setItemsResponse" type="tns:setItemsResponse"></xs:element>

  <xs:complexType name="refreshCarList">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="refreshCarListResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="remove">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="save">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="prepareEdit">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="prepareEditResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isEditing">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="isEditingResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setEditing">
    <xs:sequence>
      <xs:element name="arg0" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setEditingResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="setCarSearchParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:carSearchParameters"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carSearchParameters">
    <xs:sequence>
      <xs:element name="available" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="manufacturer" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="modelType" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setCarSearchParametersResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchCarsWebMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
      <xs:element name="arg2" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchCarsWebMethodResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:car"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="car">
    <xs:sequence>
      <xs:element name="carId" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="manufacturer" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="modeltype" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="seats" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setCurrent">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:car"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setCurrentResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="prepareNew">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="prepareNewResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchCars">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchCarsResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrent">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:car"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="prepareList">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="prepareListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataModel"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="dataModel">
    <xs:sequence>
      <xs:element name="rowIndex" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="wrappedData" type="xs:anyType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setItemsResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getItems">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getItemsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataModel"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarSearchParameters">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarSearchParametersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carSearchParameters"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="refreshCarList">
    <wsdl:part element="tns:refreshCarList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="remove">
    <wsdl:part element="tns:remove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentResponse">
    <wsdl:part element="tns:getCurrentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeResponse">
    <wsdl:part element="tns:removeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part element="tns:save" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepareEditResponse">
    <wsdl:part element="tns:prepareEditResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarSearchParametersResponse">
    <wsdl:part element="tns:getCarSearchParametersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepareEdit">
    <wsdl:part element="tns:prepareEdit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isEditingResponse">
    <wsdl:part element="tns:isEditingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemsResponse">
    <wsdl:part element="tns:getItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCarsWebMethod">
    <wsdl:part element="tns:searchCarsWebMethod" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCurrent">
    <wsdl:part element="tns:setCurrent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setItemsResponse">
    <wsdl:part element="tns:setItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCurrentResponse">
    <wsdl:part element="tns:setCurrentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setItems">
    <wsdl:part element="tns:setItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItems">
    <wsdl:part element="tns:getItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshCarListResponse">
    <wsdl:part element="tns:refreshCarListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepareListResponse">
    <wsdl:part element="tns:prepareListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEditingResponse">
    <wsdl:part element="tns:setEditingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCarsWebMethodResponse">
    <wsdl:part element="tns:searchCarsWebMethodResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isEditing">
    <wsdl:part element="tns:isEditing" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEditing">
    <wsdl:part element="tns:setEditing" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCarSearchParameters">
    <wsdl:part element="tns:setCarSearchParameters" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part element="tns:saveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepareNew">
    <wsdl:part element="tns:prepareNew" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepareNewResponse">
    <wsdl:part element="tns:prepareNewResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCars">
    <wsdl:part element="tns:searchCars" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCarsResponse">
    <wsdl:part element="tns:searchCarsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrent">
    <wsdl:part element="tns:getCurrent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepareList">
    <wsdl:part element="tns:prepareList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCarSearchParametersResponse">
    <wsdl:part element="tns:setCarSearchParametersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarSearchParameters">
    <wsdl:part element="tns:getCarSearchParameters" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarController">
    <wsdl:operation name="refreshCarList">
      <wsdl:input message="tns:refreshCarList" name="refreshCarList">
    </wsdl:input>
      <wsdl:output message="tns:refreshCarListResponse" name="refreshCarListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <wsdl:input message="tns:remove" name="remove">
    </wsdl:input>
      <wsdl:output message="tns:removeResponse" name="removeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input message="tns:save" name="save">
    </wsdl:input>
      <wsdl:output message="tns:saveResponse" name="saveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepareEdit">
      <wsdl:input message="tns:prepareEdit" name="prepareEdit">
    </wsdl:input>
      <wsdl:output message="tns:prepareEditResponse" name="prepareEditResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isEditing">
      <wsdl:input message="tns:isEditing" name="isEditing">
    </wsdl:input>
      <wsdl:output message="tns:isEditingResponse" name="isEditingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEditing">
      <wsdl:input message="tns:setEditing" name="setEditing">
    </wsdl:input>
      <wsdl:output message="tns:setEditingResponse" name="setEditingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCarSearchParameters">
      <wsdl:input message="tns:setCarSearchParameters" name="setCarSearchParameters">
    </wsdl:input>
      <wsdl:output message="tns:setCarSearchParametersResponse" name="setCarSearchParametersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCarsWebMethod">
      <wsdl:input message="tns:searchCarsWebMethod" name="searchCarsWebMethod">
    </wsdl:input>
      <wsdl:output message="tns:searchCarsWebMethodResponse" name="searchCarsWebMethodResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCurrent">
      <wsdl:input message="tns:setCurrent" name="setCurrent">
    </wsdl:input>
      <wsdl:output message="tns:setCurrentResponse" name="setCurrentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepareNew">
      <wsdl:input message="tns:prepareNew" name="prepareNew">
    </wsdl:input>
      <wsdl:output message="tns:prepareNewResponse" name="prepareNewResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCars">
      <wsdl:input message="tns:searchCars" name="searchCars">
    </wsdl:input>
      <wsdl:output message="tns:searchCarsResponse" name="searchCarsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrent">
      <wsdl:input message="tns:getCurrent" name="getCurrent">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentResponse" name="getCurrentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepareList">
      <wsdl:input message="tns:prepareList" name="prepareList">
    </wsdl:input>
      <wsdl:output message="tns:prepareListResponse" name="prepareListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setItems">
      <wsdl:input message="tns:setItems" name="setItems">
    </wsdl:input>
      <wsdl:output message="tns:setItemsResponse" name="setItemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <wsdl:input message="tns:getItems" name="getItems">
    </wsdl:input>
      <wsdl:output message="tns:getItemsResponse" name="getItemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarSearchParameters">
      <wsdl:input message="tns:getCarSearchParameters" name="getCarSearchParameters">
    </wsdl:input>
      <wsdl:output message="tns:getCarSearchParametersResponse" name="getCarSearchParametersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarControllerServiceSoapBinding" type="tns:CarController">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="refreshCarList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="refreshCarList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="refreshCarListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="remove">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="removeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="save">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepareEdit">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="prepareEdit">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="prepareEditResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isEditing">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="isEditing">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="isEditingResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEditing">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="setEditing">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="setEditingResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCarSearchParameters">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="setCarSearchParameters">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="setCarSearchParametersResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCarsWebMethod">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="searchCarsWebMethod">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="searchCarsWebMethodResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCurrent">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="setCurrent">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="setCurrentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepareNew">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="prepareNew">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="prepareNewResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCars">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="searchCars">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="searchCarsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrent">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCurrent">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCurrentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepareList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="prepareList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="prepareListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setItems">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="setItems">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="setItemsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getItems">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getItemsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarSearchParameters">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCarSearchParameters">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCarSearchParametersResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarControllerService">
    <wsdl:port binding="tns:CarControllerServiceSoapBinding" name="CarControllerPort">
      <soap:address location="http://localhost:8080/CarRental/CarController"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>