CarRental/CarControllerService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CarControllerService" targetNamespace="http://web/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://web/" elementFormDefault="unqualified" targetNamespace="http://web/" version="1.0">

  <xs:element name="searchCarsWebMethod" type="tns:searchCarsWebMethod"></xs:element>

  <xs:element name="searchCarsWebMethodResponse" type="tns:searchCarsWebMethodResponse"></xs:element>

  <xs:complexType name="searchCarsWebMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
      <xs:element name="arg2" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchCarsWebMethodResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:car"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="car">
    <xs:sequence>
      <xs:element name="carId" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="manufacturer" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="modeltype" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="seats" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchCarsWebMethod">
    <wsdl:part element="tns:searchCarsWebMethod" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCarsWebMethodResponse">
    <wsdl:part element="tns:searchCarsWebMethodResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SearchService">
    <wsdl:operation name="searchCarsWebMethod">
      <wsdl:input message="tns:searchCarsWebMethod" name="searchCarsWebMethod">
    </wsdl:input>
      <wsdl:output message="tns:searchCarsWebMethodResponse" name="searchCarsWebMethodResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarControllerServiceSoapBinding" type="tns:SearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="searchCarsWebMethod">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="searchCarsWebMethod">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="searchCarsWebMethodResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarControllerService">
    <wsdl:port binding="tns:CarControllerServiceSoapBinding" name="CarControllerPort">
      <soap:address location="http://localhost:8080/CarRental/CarController"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>